body {
    padding: 40px;
}

.host {
  height: 200px;
  width: 400px;
}

.host-zoom {
    position: relative;
}

.host-zoomed > * {
    position: relative;
    float: left;
    height: 200px;
    width: 400px;
}
