.example {
    margin: 20px;
}

.host {
    height: 225px;
    width: 375px;
}

.host-zoom {
    position: relative;
}

.host-outer > * {
    position: relative;
    float: left;
    height: 225px;
    width: 375px;
}
