body {
    padding: 40px;
}

.host {
    height: 225px;
    width: 375px;
}

.host-zoom {
    position: relative;
}

.host-zoomed > * {
    position: relative;
    float: left;
    height: 225px;
    width: 375px;
}
