
[mag-theme="default"].mag-host {
    /*background: black;*/
}

[mag-theme="default"].mag-zoomed-container {
    background: black;
}

[mag-theme="default"] .mag-lens {
    box-shadow: 0 0 4px white;
}

[mag-theme="default"] {
    cursor: crosshair;
}
