html {
  overflow: scroll;
  background: gray;
}

hr {
  clear: both;
}

.magnificent.outer {
  display: block;
  width: 25%;
  background: yellow;
  border: 25px solid red;
  float: left;
}
.magnificent.outer img {
  width: 100%;
}
.magnificent-viewport.outer {
  border: 15px solid green;
}
.magnificent-viewport img {
  width: 100%;
}

.magnificent.inner {
  display: block;
  width: 25%;
  background: yellow;
  border: 25px solid blue;
  float: left;
}
.magnificent.inner > img {
  width: 100%;
}

.magnificent img,
.magnificent-viewport img
{
  display: block;
}

.lens-inner {
  border: 2px solid white;
  box-shadow: 2px 2px 2px black;
  background-color: rgba(255,255,255,0.3);
}